/* MAX-WIDTH */

// @include media-breakpoint-down(xs) {

// }
@include media-breakpoint-down(sm) {
    .navbar-big {
        display: none;
    }

    .bottom-navigation {
        @include column-center();
        overflow: hidden;
        background-color: #333;
        position: fixed;
        bottom: 0;
        width: 100%;
        color: #fff;
    }
}
// @include media-breakpoint-down(md) {

// }
// @include media-breakpoint-down(lg) {

// }