/* MIN WIDTH */

// @include media-breakpoint-up(xs) {

// }
// @include media-breakpoint-up(sm) {

// }
// @include media-breakpoint-up(md) {

// }
// @include media-breakpoint-up(lg) {

// }
@include media-breakpoint-up(xl) {

	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: $color-primary;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
    
    .bottom-navigation {
        display: none;
    }
}