// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,800;1,300;1,500&display=swap');

// @font-face {
//     font-family: NerkoOne-Regular;
//     font-style: normal;
//     font-weight: 400;
//     src: local("Alice"), local("Alice-Regular"),
//          url("../../font/NerkoOne-Regular.eot?#") format("eot"),
//          url("../../font/NerkoOne-Regular.woff2") format("woff2"),
//          url("../../font/NerkoOne-Regular.woff") format("woff"),
//          url("../../font/NerkoOne-Regular.ttf") format("truetype")
// }

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
body {
    font-family: 'NerkoOne-Regular', cursive;
}

h1 {
    font-size: 100px !important;
    font-weight: 500;
}

h2 {
    font-weight: 100px !important;
    font-weight: 800;
}

/* Works on Firefox */
// * {
//     scrollbar-width: thin;
//     scrollbar-color: blue orange;
// }

/* Works on Chrome, Edge, and Safari */
// *::-webkit-scrollbar {
//     width: 12px;
// }

// *::-webkit-scrollbar-track {
//     background: orange;
// }

// *::-webkit-scrollbar-thumb {
//     background-color: blue;
//     border-radius: 20px;
//     border: 3px solid orange;
// }
